#playerGridArea,
#botGridArea {
  display: grid;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  grid-template-columns: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  margin-bottom: 10px;
}

.cell {
  border: 1px solid black;
}

.pbuffer {
  background: rgb(176, 170, 238);
}

.pcarrier,
.pbattleship,
.pdestroyer,
.psubmarine,
.ppatrol {
  background: gray;
}

.phit,
.hit {
  background: red;
}

.pmiss,
.miss {
  background: green;
}
