#container {
  display: grid;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  grid-template-columns: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
}

.cell {
  border: 1px solid black;
}

.buffer {
  background: rgb(176, 170, 238);
}

.carrier,
.battleship,
.destroyer,
.submarine,
.patrol {
  background: gray;
}
